*{
    margin:0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
.container{
    background: #eee;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.cadastro{
    width: 500px;
    height: 600px;
    max-width: 500px;
    background: #fff;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cadastro-produto{
    width: 70%;
}
.titulo{
    margin: 30px 0;
}
input {
    height: 35px;
}
input,
textarea {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.button{
    width: 50%;
    height: 45px;
    background: #00a19b;
    border: 1px solid #00a19b;
    color: #fff;
    margin: 0 auto;
}
.button:hover{
    background: #38b3ae;
    border: 1px solid #38b3ae;
}